*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    border:0px;
    text-align: center;
}
table tr{
    height: 150px;
    text-align: center;
}