* { 
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
 body{
     display: grid;
     grid-template-areas:
     "header"
     "content"
     "footer";
     width: 900px;
     height: 630px;
     grid-template-rows: 80px 1fr 80px;
     margin: auto;
     margin-top: 0.7rem;
}
#header{
    grid-area: header;
    display: grid;
    background-color: #CCCCCC;
    border: none;
    margin-bottom: 0.5rem; 
    align-items: center;  
}
#footer{
    grid-area: footer;
    display: grid;
    margin-top: 0.5rem;
    background-color: #CCCCCC;
    border: none;
}
#content{
    grid-area: content;
    display: grid;
    background-color: white;
    border: none;
 
}
.kapsayici{
    display: grid;
    grid-template-columns: 0.7fr 1.3fr 1fr;
    grid-gap: 0.5rem;
    border: none;
}

div{
    border: 1px solid black;
}
.anasayfa{
    background-color: #CCCCCC;
    border: none;
}
.icerik{
    background-color: #CCCCCC;
    border: none;
}
.uyelik{
    background-color: white;
    border: none;

}
.uyelikbaslik{
    display: flex;
    padding-left: 10px;
    width: 100%;
    height: 30px;
    background-color: #990000;
    align-items: center;
    border: none;
    color: white;
    align-items: center;  
}
.bilgi{
    border: none;
    width: 100%;
    margin-top: 10px;
}
input[type=text],input[type=password],input[type=email]{
    width: 100%;
}
.gonderbuton{
    text-align: right;
    border: none;
    margin-top: 10px;
}
.yeniuye{
    text-align: right;
    border: none;
    margin-top: 10px;
}
.yeniuyebaslik{
    display: flex;
    padding-left: 10px;
    width: 100%;
    height: 30px;
    background-color: #990000;
    align-items: center;
    border: none;
    color: white;
    align-items: center;  
}
.cikis{
    border: none;
    width: 100%;
    margin-top: 10px;
    text-align: right;
}
.cikis a{
    text-decoration: none;
    color: black;
}
.yeniuye a{
    text-decoration: none;
    color: rgb(165, 1, 1);
}
