*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin-top: 20px;
}
.baslik{
    background-color: black;
}
.left{ 
    text-align: center;
    color: white;
    height: 30px;
}
.right{ 
    text-align: center;
    color: white;
    height: 30px;
}
.satir{
    text-align: center;
    height: 30px;
}