*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table{
    margin-left: auto;
    margin-right: auto;
}

.inputAlani{
    width: 100%;
    height: 30px;
    margin: 5px;
    padding: 5px 10px;
}
.textArea{
    width: 100%;
    height: 70px;
    margin: 5px;
    padding: 5px 18px;
}
.gonderButonu{
    height: 30px;
    margin: 5px;
    padding: 5px 10px;
    border: 1px solid #000099;
    background-color: #009900;
    color: #FFFFFF;
}
.gonderButonu:hover{
    background-color: rgb(191, 190, 190);
}


