*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.navbar{
    text-align: center;
    margin-left: 200px;
    margin-right: 200px;
}

.navbar ul{
    width: 1000px;
    display: flex;
    flex-direction: row;
    text-align: center;
    margin-top: 30px;  
}
.navbar ul li{
    list-style: none;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
}
.navbar ul li a{
    color: black;
    text-decoration: none;
    
}

.navbar ul li:last-child a{
    margin-left: 15px;
}