*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table{
    margin-left: auto;
    margin-right: auto;
    width: 830px;
    border-spacing: 0;
}
th{
    height: 30px;
    background-color: #CCCCCC;
    text-align: left;
}
table th:nth-child(4),table th:nth-child(5){
    width: 90px;
}

table th:nth-child(3){
    width: 80px;
}
