*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.check{
    width: 1rem;

}
.kayitSatirlari{
    
    height: 30px;

}
.gonder{
    height: 30px;
    margin-top: 10px;
}

