*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
table{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    margin-top: 50px;
}

input[type=submit]{
    margin-top: 13px;
    width: 130px;
    height: 30px;
}
input[type=text]{
    width: 100%;
    height: 30px;
    padding: 0 20px;
}
.left{
    text-align: left;
}